name: 'Execute Ansible Playbook on Amazon Linux 2'
description: 'this document installs ansible against amazon linux 2, then downloads and executes an ansible playbook'
schemaVersion: 1.0

phases:
    - name: build
      steps:
        - name: InstallAnsible
          action: ExecuteBash
          inputs:
            commands:
              - sudo yum update -y
              - sudo amazon-linux-extras enable ansible2
              - sudo yum install -y ansible
              - sudo yum install -y git
        - name: DownloadSSHFiles
          action: S3Download
          inputs:
            - source: 's3://{{ aws_s3_bucket_name }}/components/ssh/*'
              destination: '/root/.ssh/'
              overwrite: true
        - name: SetSSHFilesPermissions
          action: ExecuteBash
          inputs:
            commands:
              - sudo chmod 600 /root/.ssh/*
        - name: CreateFolderForPlaybook
          action: CreateFolder
          inputs:
            - path: /tmp/install_cis_tools/
        - name: DownloadPlaybook
          action: ExecuteBash
          inputs:
            commands:
              - sudo git clone {{ git_repo }} '{% raw %}{{ build.CreateFolderForPlaybook.inputs[0].path }}{% endraw %}'
        - name: InvokeAnsible
          action: ExecuteBinary
          inputs:
            path: ansible-playbook
            arguments:
              - '{% raw %}{{ build.CreateFolderForPlaybook.inputs[0].path }}playbook.yaml{% endraw %}'
        - name: DeleteFiles
          action: ExecuteBash
          inputs:
            commands:
              - sudo find /root/.ssh/ ! -name 'authorized_keys' -type f -exec rm -f {} +
              - rm -rf '{% raw %}{{ build.CreateFolderForPlaybook.inputs[0].path }}{% endraw %}'